.client-page {
    width: 100vw;
    display: flex;
    justify-content: flex-end;
}

.client-page .search-page {
    width: 40%;
}

.client-page .client-card {
    width: 50%;
}


.empty {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

